In [4]:
contoh_list = [ 1, 'dua', 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [ 1, 'dua', 3, 4.0, 5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

In [6]:
    contoh_tuple = ('januari', 'februari','maret','april')
    print(contoh_tuple[0])

    contoh_tuple = ('januari', 'februari','maret','april')
    contoh_tuple[0] = ['Desember']

januari

In [9]:
contoh_list = ['Dewi', 'Budi', 'Cici', 'Linda', 'Cici'] 
print(contoh_list)
contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'})
print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Budi', 'Linda', 'Cici', 'Dewi'}
{'Budi', 'Linda', 'Cici', 'Dewi'}

In [10]:
person = {'nama' : 'John Doe', 'pekerjaan': 'Programmer'}
print(person['nama'])
print(person['pekerjaan'])

John Doe
Programmer

In [12]:
sepatu = {"nama": 'Niko', "harga": 150000, "diskon": 30000 }
baju = {"nama": 'Unikloh', "harga": 80000, "diskon": 8000 }
celana = {"nama": 'Lepis', "harga": 200000, "diskon": 60000 }

harga_sepatu = sepatu ['harga'] - sepatu ['diskon']
harga_baju = baju ['harga'] - baju ['diskon']
harga_celana = celana ['harga'] - celana ['diskon']       
        
total = (harga_sepatu + harga_baju + harga_celana) * 1.1
print (total)

365200.00000000006

In [22]:
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000 }
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000 }
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000 }

harga_sepatu = sepatu ["harga"] - sepatu ["diskon"]
harga_baju = baju ["harga"] - baju ["diskon"]
harga_celana = celana ["harga"] - celana ["diskon"]       
        
total_harga = (harga_sepatu + harga_baju + harga_celana)*1.1
 
print (total_harga)

365200.00000000006

In [23]:
# Data yang dinyatakan ke dalam dictionary
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}
# Hitunglah harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"] 
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# Hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana
# Hitung harga kena pajak
total_pajak = total_harga * 0.1
# Cetak total_harga + total_pajak
print(total_harga-total_pajak)

298800.0

In [25]:
# Kode awal
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = 1-0.3 # baris pertama
harga_bayar *= total_harga # baris kedua
pajak_bayar = pajak * harga_bayar # baris ketiga
harga_bayar += pajak_bayar # baris ke-4
print("Kode awal - harga_bayar=", harga_bayar)
# Penyederhanaan baris kode dengan menerapkan prioritas operator

total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = (1-0.3) * total_harga #baris pertama 
harga_bayar += harga_bayar * pajak # baris kedua
print("Penyederhanaan kode - harga_bayar=", harga_bayar)

Kode awal - harga_bayar= 115500.0
Penyederhanaan kode - harga_bayar= 115500.0

In [26]:
bilangan = (5 % 3 ** 2) + (3 + 2 * 2) * (4 - 2) 
print(bilangan)

19

In [30]:
bilangan = (5 % 3 ** 2) + (3 + 2 * 2) * (4 - 2) 
print(bilangan)

19

In [31]:
tagihan_ke = 'Mr. Yoyo'
warehousing = { 'harga_harian': 1000000, 'total_hari':15 } 
cleansing = { 'harga_harian': 1500000, 'total_hari':10 } 
integration = { 'harga_harian':2000000, 'total_hari':15 } 
transform = { 'harga_harian':2500000, 'total_hari':10 }

sub_warehousing = warehousing['harga_harian'] * warehousing['total_hari']
sub_cleansing = cleansing['harga_harian'] * cleansing['total_hari']
sub_integration = integration['harga_harian']* integration['total_hari']
sub_transform = transform['harga_harian'] * transform['total_hari']

total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transform

print("Tagihan kepada:") 
print(tagihan_ke)
print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

Tagihan kepada:
Mr. Yoyo
Selamat pagi, anda harus membayar tagihan sebesar:
85000000

In [32]:
harga = [1000, 2500, 5000, 15000, 30000]
print(harga[:-3])

[1000, 2500]

In [33]:
barisan = [1,2,3,4,5]
print(barisan[-2])

4

In [35]:
# Import library math
import math
# Fungsi math.log()
print(">>> Fungsi math.log()")
# x = log basis 2 dari 8
x = math.log(8, 2)
# y = log basis 3 dari 81
y = math.log(81, 3)
# z = log basis 10 dari 10000
z = math.log(10000,10)
print(x)
print(y)
print(z)
# Fungsi math.sqrt()
print(">>> Fungsi math.sqrt()")
# akar kuadrat dari 100
x = math.sqrt(100)
print(x)
# akar kuadrat dari 2
y = math.sqrt(2)
print(y)
# Fungsi math.copysign()
print(">>> Fungsi math.copysign()")
x = 10.32
y = -13.87
z = -15
x = math.copysign(x, z)
y = math.copysign(y, z)
z = math.copysign(z, 10)
print(x)
print(y)
print(z)

>>> Fungsi math.log()
3.0
4.0
4.0
>>> Fungsi math.sqrt()
10.0
1.4142135623730951
>>> Fungsi math.copysign()
-10.32
-13.87
15.0

In [36]:
import math
x = 5
x_factorial = math.factorial(5)
x_factorial = math.copysign(x_factorial, -10)
print(x_factorial)

-120.0

In [37]:
import math
x = [2.22,-3.33,4.44,-5.55]
total = 0
for i in x:
    total += math.ceil(i)
print(total)

0

In [38]:
class Karyawan: 
    nama_perusahaan = 'ABC'
    def __init__(self, nama, usia, pendapatan):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan
        if usia > 30:
            self.pendapatan += 1500000

karyawan_1 = Karyawan('Budi', 35, 7500000)
karyawan_2 = Karyawan('Didi', 30, 8000000)

total_pengeluaran = karyawan_1.pendapatan + karyawan_2.pendapatan 
print(total_pengeluaran)

17000000

In [39]:
class Karyawan:
    nama_perusahaan = 'ABC'
    tunjangan_transportasi = 500000
    def __init__(self, nama, usia, pendapatan):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan

karyawan_1 = Karyawan('Budi', 35, 5000000)
karyawan_2 = Karyawan('Didi', 30, 5000000)
karyawan_1.__class__.nama_perusahaan = 1000000

total_pengeluaran = karyawan_1.__class__.tunjangan_transportasi
total_pengeluaran += karyawan_2. __class__.tunjangan_transportasi
total_pengeluaran += karyawan_1.pendapatan
total_pengeluaran += karyawan_2.pendapatan
print(total_pengeluaran)

11000000

In [43]:
class Burung:
    def __init__(self, nama):
        self.nama = nama
    def fly(self):
        print(nama + ' sedang terbang')

class Ayam(Burung):
    def fly(self):
        print(self.nama + ' tidak bisa terbang')

anak_ayam = Ayam('Si Jago')
anak_ayam.fly()

Si Jago tidak bisa terbang

In [44]:
class Mamalia:
    def __init__(self, nama):
        self.__nama = nama
    def interaksi(self):
        print('Bersuara')

class Anjing(Mamalia):
    def interaksi(self):
        print('Guk')

class Manusia(Mamalia):
    pass

blacky = Anjing('Blacky')
toni = Manusia('Toni')
toni.interaksi()
blacky.interaksi()

Bersuara
Guk

In [45]:
if (i<7):
	print("nilai i kurang dari 7")
	if (i<3):
		print("nilai i kurang dari 7 dan kurang dari 3")
	else:
		print("nilai i kurang dari 7 tapi lebih dari 3")

nilai i kurang dari 7
nilai i kurang dari 7 dan kurang dari 3

In [46]:
a=10
b=5
selisih = a-b
jumlah = a+b
kali = a*b
bagi = a/b
print("Hasil penjumlahan dan b adalah", jumlah)
print("Selisih a dan b adalah :",selisih)
print("Hasil perkalian a dan b adalah :",kali)
print("Hasil pembagian a dan b adalah:",bagi)

Hasil penjumlahan dan b adalah 15
Selisih a dan b adalah : 5
Hasil perkalian a dan b adalah : 50
Hasil pembagian a dan b adalah: 2.0

In [47]:
import pandas as pd


table = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/penduduk_gender_head.csv")
table.head()
print(table)

    TAHUN         NAMA PROVINSI NAMA KABUPATEN/KOTA NAMA KECAMATAN  \
0    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
1    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
2    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
3    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
4    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
5    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT         GAMBIR
6    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
7    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
8    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
9    2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
10   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    SAWAH BESAR
11   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
12   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
13   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
14   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
15   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
16   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
17   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
18   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT      KEMAYORAN
19   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
20   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
21   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
22   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
23   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
24   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT          SENEN
25   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT  CEMPAKA PUTIH
26   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT  CEMPAKA PUTIH
27   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT  CEMPAKA PUTIH
28   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
29   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
30   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
31   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
32   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT        MENTENG
33   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
34   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
35   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
36   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
37   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
38   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
39   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT    TANAH ABANG
40   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU
41   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU
42   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU
43   2013  PROVINSI DKI JAKARTA       JAKARTA PUSAT     JOHAR BARU

           NAMA KELURAHAN  LAKI-LAKI WNI  PEREMPUAN WNI  LAKI-LAKI WNA  \
0                  GAMBIR           1790           1690            1.0
1                  CIDENG           9159           9206            5.0
2            PETOJO UTARA          10811          10436           10.0
3          PETOJO SELATAN           8455           8023            5.0
4            KEBON KELAPA           6300           6078            6.0
5               DURI PULO          13056          12588            2.0
6              PASAR BARU           7557           7552           34.0
7            KARANG ANYAR          16327          15859            4.0
8                 KARTINI          13610          13808            3.0
9     GUNUNG SAHARI UTARA           9734           9889           15.0
10     MANGGA DUA SELATAN          17269          16458           42.0
11              KEMAYORAN          12365          11932            6.0
12           KEBON KOSONG          15933          15665           33.0
13          HARAPAN MULIA          13523          13049            2.0
14                SERDANG          17284          17020            1.0
15  GUNUNG SAHARI SELATAN          11730          11487           13.0
16           CEMPAKA BARU          19103          18601            NaN
17             SUMUR BATU          13441          13288           20.0
18           UTAN PANJANG          17125          16351            4.0
19                  SENEN           4236           3975           10.0
20                 KENARI           5445           5252            2.0
21                PASEBAN          13787          13477            NaN
22                 KRAMAT          17482          16331            2.0
23                KWITANG           9176           9148            1.0
24                 BUNGUR          11200          10849            4.0
25    CEMPAKA PUTIH TIMUR          13630          13686           24.0
26    CEMPAKA PUTIH BARAT          20029          19681           12.0
27               RAWASARI          12462          12465            1.0
28                MENTENG          14576          14610            7.0
29             PEGANGSAAN          13392          13214            2.0
30                 CIKINI           4825           4772            5.0
31             GONDANGDIA           2196           2443           11.0
32            KEBON SIRIH           7976           7439            2.0
33                 GELORA           1865           1883            6.0
34        BENDUNGAN HILIR          12713          12582           11.0
35          KARET TENGSIN          11002          10271           10.0
36             PETAMBURAN          20112          18794           17.0
37           KEBON MELATI          19826          18672            8.0
38           KEBON KACANG          12873          12357            3.0
39           KAMPUNG BALI           7348           7205            3.0
40             JOHAR BARU          21016          20953            2.0
41           KAMPUNG RAWA          13337          12499            1.0
42                  GALUR          11077          10259            NaN
43           TANAH TINGGI          22680          21450            NaN

    PEREMPUAN WNA  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
0             2.0         NaN          NaN          NaN          NaN
1             6.0         NaN          NaN          NaN          NaN
2             8.0         NaN          NaN          NaN          NaN
3             7.0         NaN          NaN          NaN          NaN
4            10.0         NaN          NaN          NaN          NaN
5             6.0         NaN          NaN          NaN          NaN
6            55.0         NaN          NaN          NaN          NaN
7             2.0         NaN          NaN          NaN          NaN
8             3.0         NaN          NaN          NaN          NaN
9            30.0         NaN          NaN          NaN          NaN
10           33.0         NaN          NaN          NaN          NaN
11            8.0         NaN          NaN          NaN          NaN
12           25.0         NaN          NaN          NaN          NaN
13            3.0         NaN          NaN          NaN          NaN
14            1.0         NaN          NaN          NaN          NaN
15           15.0         NaN          NaN          NaN          NaN
16            3.0         NaN          NaN          NaN          NaN
17           13.0         NaN          NaN          NaN          NaN
18            3.0         NaN          NaN          NaN          NaN
19            7.0         NaN          NaN          NaN          NaN
20            NaN         NaN          NaN          NaN          NaN
21            NaN         NaN          NaN          NaN          NaN
22            2.0         NaN          NaN          NaN          NaN
23            1.0         NaN          NaN          NaN          NaN
24            3.0         NaN          NaN          NaN          NaN
25           24.0         NaN          NaN          NaN          NaN
26            2.0         NaN          NaN          NaN          NaN
27            3.0         NaN          NaN          NaN          NaN
28           10.0         NaN          NaN          NaN          NaN
29            NaN         NaN          NaN          NaN          NaN
30            1.0         NaN          NaN          NaN          NaN
31           13.0         NaN          NaN          NaN          NaN
32            2.0         NaN          NaN          NaN          NaN
33            2.0         NaN          NaN          NaN          NaN
34            2.0         NaN          NaN          NaN          NaN
35            3.0         NaN          NaN          NaN          NaN
36           13.0         NaN          NaN          NaN          NaN
37            4.0         NaN          NaN          NaN          NaN
38            4.0         NaN          NaN          NaN          NaN
39            1.0         NaN          NaN          NaN          NaN
40            NaN         NaN          NaN          NaN          NaN
41            NaN         NaN          NaN          NaN          NaN
42            NaN         NaN          NaN          NaN          NaN
43            NaN         NaN          NaN          NaN          NaN

    Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
5           NaN          NaN          NaN          NaN          NaN
6           NaN          NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN          NaN
8           NaN          NaN          NaN          NaN          NaN
9           NaN          NaN          NaN          NaN          NaN
10          NaN          NaN          NaN          NaN          NaN
11          NaN          NaN          NaN          NaN          NaN
12          NaN          NaN          NaN          NaN          NaN
13          NaN          NaN          NaN          NaN          NaN
14          NaN          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN          NaN
17          NaN          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN          NaN
20          NaN          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN          NaN
23          NaN          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN          NaN
25          NaN          NaN          NaN          NaN          NaN
26          NaN          NaN          NaN          NaN          NaN
27          NaN          NaN          NaN          NaN          NaN
28          NaN          NaN          NaN          NaN          NaN
29          NaN          NaN          NaN          NaN          NaN
30          NaN          NaN          NaN          NaN          NaN
31          NaN          NaN          NaN          NaN          NaN
32          NaN          NaN          NaN          NaN          NaN
33          NaN          NaN          NaN          NaN          NaN
34          NaN          NaN          NaN          NaN          NaN
35          NaN          NaN          NaN          NaN          NaN
36          NaN          NaN          NaN          NaN          NaN
37          NaN          NaN          NaN          NaN          NaN
38          NaN          NaN          NaN          NaN          NaN
39          NaN          NaN          NaN          NaN          NaN
40          NaN          NaN          NaN          NaN          NaN
41          NaN          NaN          NaN          NaN          NaN
42          NaN          NaN          NaN          NaN          NaN
43          NaN          NaN          NaN          NaN          NaN